<div class="container">
  <div class="row">
    <div class="panel panel-default" *ngIf="isError">
      <div class="panel-body">
        <div class="col-xs-12">
          <div class="alert alert-danger" role="alert">
            Something went wrong, data couldn't be loaded.
          </div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default" *ngIf="!isLoading && !isError">
      <div class="panel-body">
        <div class="col-sm-6 col-xs-12 text-right">
          <canvas
            baseChart
            [chartType]="'doughnut'"
            [data]="parsedData.values"
            [labels]="parsedData.names"
            [options]="chartOptions"
            [legend]="true"
            (chartClick)="onChartClick($event)">
          </canvas>
          <button class="btn btn-primary" (click)="reloadData()">Reload data</button>
    </div>
      <div class="col-sm-6 col-xs-12">
        <p *ngIf="isDetails">
          Details from: {{ detailsInfo }}
          <button class="btn btn-sm btn-info" *ngIf="isDetails" (click)="backFromDetails()">back</button>
        </p>
        <table class="table">
          <thead>
            <tr>
              <th (click)="sortTable('name')">name <i class="fa fa-fw" [ngClass]="iconSort.name"></i></th>
              <th (click)="sortTable('value')">value <i class="fa fa-fw" [ngClass]="iconSort.value"></i></th>
              <th (click)="sortTable('pvalue')">pvalue <i class="fa fa-fw" [ngClass]="iconSort.pvalue"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData | orderBy:sortKey:sortAsc">
              <td>{{ item.name }}</td>
              <td>{{ item.value }}</td>
              <td>{{ item.pvalue }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default"  *ngIf="isLoading && !isError">
        <div class="panel-body">
          <div class="col-xs-12">
              <p>Loading data...</p>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>